<div class="coach-answer">
  <h1>Stupid Coaching</h1>
  <p></p>
  <div class="question-answer">
    <p>
      <%= @question %>
    </p>
    <p>
      <%= "-You" %>
    </p>
  </div>
  <div class="question-answer">
    <p>
      <%= @answer %>
    </p>
    <p>
      <%= "-Your Coach" %>
    </p>
  </div>
  <div class="link">
    <p>
      <%= link_to 'Ask a new question', ask_path %>
    </p>
  </div>
</div>

